<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="rememberMeCookie">
        <constructor-arg value="remamberMe"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="2592000"/>
    </bean>

    <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="rememberMeManager">
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('')}"/>
        <property name="cookie" ref="rememberMeCookie"/>
    </bean>

    <bean class="com.xy.oa.common.UserRealm" id="userRealm">
        <property name="credentialsMatcher">
            <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
                <property name="hashAlgorithmName" value="MD5"></property>
                <property name="hashIterations" value="1024"></property>
            </bean>
        </property>
    </bean>

    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="sessionMode" value="native"/>
        <property name="realm" ref="userRealm"/>
        <property name="rememberMeManager" ref="rememberMeManager"/>
        <!--        <property name="cacheManager" ref=""/>-->
    </bean>

    <bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" id="lifecycleBeanPostProcessor"></bean>

    <bean class="org.apache.shiro.spring.remoting.SecureRemoteInvocationExecutor" id="secureRemoteInvocationExecutor">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">

        <property name="securityManager" ref="securityManager"/>
        <!-- 登录跳转地址 -->
        <property name="loginUrl" value="/shiro/toLogin"/>
        <!-- 登录认证成功跳转地址 -->
        <property name="successUrl" value="/shiro/toIndex"/>
        <!-- 登录未通过跳转地址 -->
        <property name="unauthorizedUrl" value="/views/nopower.jsp"/>

        <property name="filterChainDefinitions">
            <value>

            </value>
        </property>
    </bean>


</beans>